$button-width: 150px;
$btn-bg: #1781e3;
$text-light: #fefefe;
$fill-color: #50C878; // Farbe des Füllens

.button {
  display: inline-block;
  width: $button-width;
  margin: 20px auto;
  background: $btn-bg;
  color: $text-light;
  border-radius: 4px;
  text-align: center;
  position: relative;
  cursor: pointer;
  appearance: none;
  border: 0;
  overflow: hidden;
}

.button.animate {
  background: $fill-color;
  color: $text-light;
}

.button.animate:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: $btn-bg;
  transition: width 2.5s ease;
  z-index: 0;
}

.button.animate.start:after {
  width: 100%;
}

.button span {
  position: relative;
  z-index: 1;
}

.button.animate.start span {
  color: $text-light;
  transition: color 2.5s ease;
}
